.text_kecil{
padding:5px;
border:1px solid #4a8bc2;
width:100px;
}

.text_medium{
padding:5px;
border:1px solid #4a8bc2;
width:200px;
}

.text_besar{
padding:5px;
border:1px solid #4a8bc2;
width:300px;
}

.area-besar{
padding:5px;
border:1px solid #4a8bc2;
height:100px;
width:400px;
}